/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/hls/**/*.ts
/public/hls/**/*.m3u
/public/hls/**/*.m3u8
/public/encoded
/storage/*.key
/storage/pail
/storage/app/full-backups
/storage/app/db-backups
/vendor
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
*.ts.lock
.DS_Store

# Local-only artifacts
/backups
/notes
